<%- include("components/upper.ejs") %>
<main class="content">
  <div class="container-fluid p-0">
    <h3>User Activity</h3>
    <h4><%= locals.username %></h4>
    <div class="table-responsive">
      <table class="table table-bordered mt-3 table-hover table-sm">
        <tr>
          <th>Time</th>
          <th>Activity</th>
          <th>Balance</th>
        </tr>
        <% for(const item of locals.arr) { %>
        <tr>
          <td><%= new Date(item.time).toLocaleString() %></td>
          <td><%= item.message %></td>
          <td><%= item.balance %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>

<script src="/js/confirm-delete.js"></script>
<script src="/js/post.js"></script>
<script src="/js/super-prompt.js"></script>
<script></script>

<%- include("components/lower.ejs") %>
